// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

@font-face {
    font-family: 'IRANSansX';
    src: url('Fonts/IRANSansX-Black.ttf') format('truetype');
    src: url('Fonts/IRANSansX-Bold.ttf') format('truetype');
    src: url('Fonts/IRANSansX-DemiBold.ttf') format('truetype');
}

*{
    font-family: 'IRANSansX';
}
