// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

@font-face {
    font-family: 'IRANSansX';
    src: url('../css/fonts/IRANSansX-Black.ttf') format('truetype');
    src: url('../css/fonts/IRANSansX-Bold.ttf') format('truetype');
    src: url('../css/fonts/IRANSansX-DemiBold.ttf') format('truetype');
    //src: url('../css/fonts/IRANSansX-ExtraBold.ttf') format('truetype');
    //src: url('../css/fonts/IRANSansX-Light.ttf') format('truetype');
    //src: url('../css/fonts/IRANSansX-Medium.ttf') format('truetype');
    //src: url('../css/fonts/IRANSansX-Regular.ttf') format('truetype');
    //src: url('../css/fonts/IRANSansX-Thin.ttf') format('truetype');
}

*{
    font-family: 'IRANSansX';
}
